@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section > h1{
    color: rgb(87, 87, 87);
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
}

.main-container{
    margin: 3rem auto;
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container > h1{
    color: rgb(87, 87, 87);
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
}


.button{
    background-color: rgba(143, 44, 102, 1);
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    width: 5rem;
    border: none;
    padding: .5rem 1rem;
    z-index: 5;
    cursor: pointer;
    transition: background-color ease .15s;
    display: grid;
    place-items: center;
    text-decoration: none;
}

.button:hover{
    background-color: rgba(143, 44, 102, .8);
}

section h3{
    margin: 1rem;
    text-align: center;
}